nemo-toolkit==2.6.1
torch==2.8.0+cu128
torchaudio==2.8.0+cu128
pyannote-audio==4.0.3
huggingface-hub==0.30.2


# Dưới đây là danh sách 3 model bắt buộc bạn cần phải vào bấm "Agree and access repository" để hệ thống Pyannote 3.1 hoạt động được (bạn cần đăng nhập cùng một tài khoản Hugging Face mà bạn đã lấy Token):

# Model chính (Diarization): 👉 https://huggingface.co/pyannote/speaker-diarization-3.1

# Model phân đoạn (Segmentation - Quan trọng): 👉 https://huggingface.co/pyannote/segmentation-3.0

# Model bổ trợ (Community/Legacy): 👉 https://huggingface.co/pyannote/speaker-diarization-community-1